.wrapper {
    border: solid;
    width: 340px;
    height: 540px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(75, 73, 73);
    /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
  }